*{
    margin: 0px;
    padding:0px;
}
body{
    background-image:url("wallpaper.jpg");
    background-size:cover;
}
.taskbar{
    position:absolute;
    bottom:0px;
    display:flex;
    justify-content: center;
    width: 100%;
    background-color:#cee9f0;;
}
.right{
    justify-self: flex-end;
    position:absolute;
    right:0px;
}
/* .startbar{
    overflow: hidden;
position: absolute;
bottom: 52px;.
height: 75%;
width: 100%;
text-align: center;
} */
.b{
    margin-top: 5px;;
}